* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: #fff;
}

.nav-link {
    transition: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(180, 178, 178);
}

img.round {
    border-radius: 20px;
}

.card {
    margin-top: 2rem;
    border: 5px solid #fff;
    border-radius: 2rem;
}

span.text-bold {
    font-size: 2rem;
    font-weight: bold;
}

ul {
    list-style: none;
}

.checkmark {
    width: 20px;
    margin-right: 20px;
}

img.shape {
    border-radius: 50%;
}

.image-hover:hover{
    transform: translateY(-10px);
    border: 0.3rem solid #000;
}

i.fa-facebook {
    color: blue;
}

i.fa-twitter {
    color: rgb(0, 195, 255);
}

i.fa-instagram {
    color: rgb(255, 59, 92);
}

i.fa-youtube {
    color: red;
}

i.fa-arrow-circle-up {
    color: #F8F9FA;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}